/* reset the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Almarai', sans-serif;

}

.App {
  background: linear-gradient(40deg, black, #03a9f4);
  height: 100vh;
  overflow-y: auto;
}


/* start responsive our page */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media(min-width:768px) {
  .container {
    width: 550px;
  }
}

@media(min-width:991px) {
  .container {
    width: 700px;
  }
}

@media(min-width:1200px) {
  .container {
    width: 750px;
  }
}


/* end responsive */
/* start header */
header {
  background: linear-gradient(120deg, rgb(53, 192, 239), rgb(52 79 87 / 51%));
  color: #fff;
  height: 75px;
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

header h1 {
  font-size: 27px;
}

header img {
  max-width: 100%;
  width: 50px;
}

/* end header */
/* start main section */
main {
  margin-top: 50px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45px 45px;
  gap: 20px;
}

.form input {
  font-size: 17px;
  border: none;
}

.form>input:not(:last-child) {
  box-shadow: 1px 2px 4px rgba(18, 44, 52, 0.507);
  border-radius: 4px;
  padding-left: 15px
}

.form>input:not(:last-child):focus {
  outline: none;
  box-shadow: 0 0 5px rgb(26 99 122);
}

.form .button {
  grid-column: 1/-1;
  cursor: pointer;
  background: linear-gradient(120deg, rgb(53, 192, 239), rgb(52 79 87 / 51%));
  color: #fff;
  height: 55px;
  border-radius: 4px;
  font-weight: bold;
  transform: scale(1);
}

.form .button:active {
  transform: scale(0.9);
}

@media(max-width:768px) {
  .form {
    grid-template-columns: 1fr;
  }
}

.exper {
  width: 100%;
  height: 22em;
  margin: 30px auto;
  position: relative;
  text-align: center;
  overflow: hidden;
  font-size: 20px;
  box-shadow: 0 0 24px #0000003b;
  border: 2px solid #fff;
  border-radius: 4px
}

.exper img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  filter: contrast(140%) brightness(98%);

}

.exper .info {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  width: 100%;
  height: 100%;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000;
  letter-spacing: -1px;
  text-transform: uppercase;
  line-height: 42px;
}

.info p:first-child {
  margin-top: 25px
}

.info p:last-child {
  margin-bottom: 25px
}

@media(max-width:768px) {
  .exper {
    width: 100%;
    max-height: 370px;
    font-size: 18px;
  }
}

/* end coding */